.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgb(175, 55, 211);
}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
}

.timediv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 10px;
}